<div class="dropdown">
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown">
        {{ app.request.locale|upper }}
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="{{ path('app_change_locale', {'locale': 'en'}) }}">
                English
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{{ path('app_change_locale', {'locale': 'ru'}) }}">
                Русский
            </a>
        </li>
    </ul>
</div>
