{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4" style="max-width: 500px; width: 100%;">
<div class="container mt-5">
    <h1>Export to Salesforce</h1>
    
    {{ form_start(form) }}
        {{ form_widget(form) }}
        
        <button type="submit" class="btn btn-success">
            <i class="fas fa-paper-plane"></i> Send to Salesforce
        </button>
        <a href="{{ path('app_user_profile') }}" class="btn btn-secondary">Cancel</a>
    {{ form_end(form) }}
</div>
</div>
</div>
</div>
{% endblock %}